/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.rld-col {
  border:0px solid rgba(0,0,0,0);
  float:left;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box !important;
  -webkit-background-clip:padding-box !important;
  background-clip:padding-box !important;
}



/* 1. 3 Column Grid 0px - 349px 
----------------------------------------------------------------------------- 

Span 1:    32.6666666667%
Span 2:    66.3333333333%
Span 3:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 349px) {

  .rld-col {
    margin-left:1%;
    padding:0 0.5%;
  }
  
  .rld-row .rld-col:first-child {
    margin-left:0;
  }
  
  
  /*
  Add your semantic classnames in alongside their corresponding spans here. e.g.
  
  .rld-span_3,
  .my_semantic_class_name {
  ...
  }
  */
  
  .rld-span_1 {
    width:32.6666666667%;
  }
  .rld-span_2 {
    width:66.3333333333%;
  }
  .rld-span_3 {
    margin-left:0;
    width:100%;
  }
}

/* 2. 6 Column Grid 350px - 759px 
----------------------------------------------------------------------------- 

Span 1:    15.8333333333%
Span 2:    32.6666666667%
Span 3:    49.5%
Span 4:    66.3333333333%
Span 5:    83.1666666667%
Span 6:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 350px) and (max-width: 759px) {

  .rld-col {
    margin-left:1%;
    padding:0 0.5%;
  }
  .rld-row .rld-col:first-child { 
  margin-left:0;
  }
  .rld-span_1 {
    width:15.8333333333%;
  }
  .rld-span_2 {
    width:32.6666666667%;
  }
  .rld-span_3 {
    width:49.5%;
  }
  .rld-span_4 {
    width:66.3333333333%;
  }
  .rld-span_5 {
    width:83.1666666667%;
  }
  .rld-span_6 {
    margin-left:0;
    width:100%;
  }
}

/* 3. 10 Column Grid 760px - 959px 
----------------------------------------------------------------------------- 

Span 1:    9.1%
Span 2:    19.2%
Span 3:    29.3%
Span 4:    39.4%
Span 5:    49.5%
Span 6:    59.6%
Span 7:    69.7%
Span 8:    79.8%
Span 9:    89.9%
Span 10:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 760px) and (max-width: 959px) {

  .rld-col {
    margin-left:1%;
    padding:0 0.5%;
  }
  .rld-row .rld-col:first-child {
    margin-left:0;
  }
  .rld-span_1 {
    width:9.1%;
  }
  .rld-span_2 {
    width:19.2%;
  }
  .rld-span_3 {
    width:29.3%;
  }
  .rld-span_4 {
    width:39.4%;
  }
  .rld-span_5 {
    width:49.5%;
  }
  .rld-span_6 {
    width:59.6%;
  }
  .rld-span_7 {
    width:69.7%;
  }
  .rld-span_8 {
    width:79.8%;
  }
  .rld-span_9 {
    width:89.9%;
  }
  .rld-span_10 {
    margin-left:0;
    width:100%;
  }
}

/* 4. 12 Column Grid 960px - Infinity 
----------------------------------------------------------------------------- 

Span 1:    7.41666666667%
Span 2:    15.8333333333%
Span 3:    24.25%
Span 4:    32.6666666667%
Span 5:    41.0833333333%
Span 6:    49.5%
Span 7:    57.9166666667%
Span 8:    66.3333333333%
Span 9:    74.75%
Span 10:    83.1666666667%
Span 11:    91.5833333333%
Span 12:    100%

----------------------------------------------------------------------------- */

@media screen and (min-width: 960px) {

  .rld-col {
    margin-left:1%;
    padding:0 0.5%;
  }
  .rld-row .rld-col:first-child {
    margin-left:0;
  }
  .rld-span_1 {
    width:7.41666666667%;
  }
  .rld-span_2 {
    width:15.8333333333%;
  }
  .rld-span_3 {
    width:24.25%;
  }
  .rld-span_4 {
    width:32.6666666667%;
  }
  .rld-span_5 {
    width:41.0833333333%;
  }
  .rld-span_6 {
    width:49.5%;
  }
  .rld-span_7 {
    width:57.9166666667%;
  }
  .rld-span_8 {
    width:66.3333333333%;
  }
  .rld-span_9 {
    width:74.75%;
  }
  .rld-span_10 {
    width:83.1666666667%;
  }
  .rld-span_11 {
    width:91.5833333333%;
  }
  .rld-span_12 {
    margin-left:0;
    width:100%;
  }
}